LIBSQL_DATABASE_URL=http://srv-captain--libsql-db
LIBSQL_AUTH_TOKEN=replace-with-token
DHT_LISTEN_ADDR=0.0.0.0:6881
DHT_ROUTING_TABLE_MAX_NODES=200000
INFO_HASH_QUEUE_SIZE=50000
METADATA_MAX_CONCURRENT_FETCHES=1000
METADATA_TIMEOUT_SECS=15
PRINT_JSONL=false
STORAGE_ENABLED=true
